h1 {
    color: rgb(56, 97, 80);
    font-size: 45px;
    font-weight: 100;
    font-style: oblique; 
    text-align: left;
    }

h2 {
    color: rgb(56, 97, 80);
    font-size: 35px;
    }

p {
    font-size: 30px;
    }

body {
    background-color: rgb(132, 176, 130);
    }

img{
    border-width: 4px;
    border-style: outset;
    border-color: black;
    border-radius: 10px;

    }